* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: 400;

    color: #ffffff;
    background-color: #ffffff;

}

header,
section,
.wrapperBox {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #ffffff;

    &:hover {
        cursor: pointer !important;
    }
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    cursor: pointer !important;
}

input {
    &:hover {
        cursor: pointer !important;
        border: 0;
        outline: none;
    }

    &::before {
        cursor: pointer !important;
        box-shadow: none !important;
        border: none;
        outline: none;
    }
}

button {
    &:hover {
        cursor: pointer !important;
        border: 0;
        outline: none;
    }

    &::before {
        cursor: pointer !important;
        box-shadow: none !important;
        border: none;
        outline: none;
    }
}

.container {
    width: 100%;
    max-width: 1640px;
    padding: 0 5px;
    margin: 0;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 991px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 767px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 10px;
        max-width: 575px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
}

.bg-violet {
    background-color: #4448B2;
}

.c-violet {
    color: #4448B2;
}

.bg-green {
    background-color: #3BDA44;
}

.c-green {
    color: #3BDA44;
}

.c-black {
    color: #000000;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw900 {
    font-weight: 900;
}

.btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 18px 0;

    width: 100%;
    max-width: 277px;
    display: block;

    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    border: none;

}

.input {
    display: block;
    width: 100%;
    max-width: 435px;
    border: 1px solid #4448B2;
    border-radius: 30px;
    padding: 18px 0 18px 25px;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(189, 189, 189, 0.6);

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    outline: none;

    &:hover {
        border: 1px solid #4448B2;
    }

    &:focus {
        border: 1px solid #4448B2;
    }
}

.title {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    color: #2F3B58;
    margin-bottom: 5px;
    text-align: center;
}

.subtitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #4448B2;
    text-align: center;
    margin-bottom: 50px;
}

/* base */
.nav__main--logo span {
    font-weight: 800;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    margin-left: 10px;
}

.nav__main {

    ul>li {
        margin-right: 24px;

        &:last-child {
            margin-right: 0px;
        }

        a {
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
        }
    }

    &--menu {
        z-index: 1000;
        right: 0px;
        top: 12px;
        background: #fff;
        box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.39);
        display: none;

        &-wrapper {
            padding: 80px 45px 70px 10px;

            ul>li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 20px;
                }

                a {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #2F3B58;
                }
            }

            button {
                max-width: 144px;
                font-size: 14px;
                line-height: 14px;
                padding: 14px 0;
            }
        }
    }
}

.nav__menu--active {
    display: block;
}





.header__main {
    padding-top: 140px;
    position: relative;
    background-image: url(../img/2-header/header-man.png);
    background-position: right top;
    background-repeat: no-repeat;

    &--title {
        font-size: 55px;
        line-height: 50px;
        color: #000000;
        padding-left: 140px;
        text-shadow: 5px 3px 5px white;
    }

    &--subtitle {
        font-size: 55px;
        line-height: 64px;
        padding-left: 140px;
        margin-bottom: 37px;
    }

    &--argument {
        font-size: 32px;
        line-height: 38px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 30px 30px 0px;
        max-width: 810px;
        padding-left: 140px;
        margin-bottom: 60px;
    }

    &--form {
        max-width: 810px;
        width: 100%;
        min-height: 320px;
        background-color: rgba(68, 72, 178, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 30px 30px 0px;
        padding-left: 140px;
        margin-bottom: 110px;

        &-title {
            font-size: 32px;
            line-height: 38px;
            color: #000000;
        }

        &-description {
            font-size: 20px;
            line-height: 23px;
            color: #000000;
        }

        form {
            max-width: 415px;
            width: 100%;
            display: block;

            .btn-header {
                max-width: 100%;
            }
        }
    }

    &--line {
        font-size: 32px;
        line-height: 38px;
    }

}

.fast {
    padding: 120px 0;

    &__item {
        max-width: 395px;

        &--text {
            transform: translateY(-25px);

            h4 {
                font-size: 32px;
                line-height: 38px;
            }

            p {
                font-size: 20px;
                line-height: 23px;
            }
        }
    }
}

.wrapperBox {
    position: relative;
    z-index: 0;
    background-image: url(../img/5-services/bac.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.discount {
    background-image: url(../img/4-discount/d-backgroung.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 505px;

    &__main--content {
        h3 {
            max-width: 610px;
        }

        p {
            max-width: 880px;
            font-size: 32px;
            line-height: 38px;
        }
    }

    &__main--form {
        background-color: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        width: 100%;
        max-width: 533px;
        padding: 60px 50px;

        p {
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #2F3B58;
        }

        .free {
            font-size: 20px;
            line-height: 23px;
            text-align: center;
        }

    }

    &__btn {
        max-width: 435px;
    }
}

.services {
    padding: 120px 0;
    z-index: 0;

    .services__main--content {
        margin-bottom: 50px;
    }

    &__main {
        max-width: 1020px;
        padding-top: 50px;
        position: relative;
        z-index: 0;

        .red {
            bottom: -50px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        &--content-element {
            margin-bottom: 70px;
            width: 20%;

            &:nth-child(n+5) {
                margin-bottom: 0px;
            }

            p {
                font-size: 20px;
                line-height: 23px;
                color: #000000;
            }
        }

        &--btn {
            max-width: 395px;
            margin: 0 auto;
        }
    }
}

// .specialist {
//     right: 0;
//     top: 0;
//     z-index: -2;
//     max-width: 900px;
// }

.lineDecor {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.treatment {
    padding-bottom: 120px;
}

.treatmentCard {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 100%;
    max-width: 300px;
    min-height: 500px;
    padding-top: 30px;
    margin-bottom: 50px;

    &:nth-child(3) {
        .treatmentCard__title {
            margin-bottom: 8px;
        }
    }

    &__title {
        margin-bottom: 45px;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }

    &__description {
        max-width: 240px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        margin-bottom: 45px;
    }

    &__argument {
        padding-left: 60px;
        margin-bottom: 55px;

        img {
            top: 50%;
            transform: translateY(-50%);
            left: -20px;
        }

        &--list {
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: #000000;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    &__title--bot {
        color: #3BDA44;
        margin-bottom: 30px;
    }

    &__btn {
        margin: 0 auto;
        transform: translateY(25px);
    }
}

.safety {
    padding: 60px 0;
}

.safety__main--element-text {
    font-size: 32px;
    line-height: 38px;
    transform: translateY(-40px);
}

.health {
    padding: 120px 0;
    z-index: 0;

    &__title {
        padding-left: 140px;
    }

    &__subtitle {
        padding-left: 140px;
        max-width: 990px;
        margin-bottom: 65px;
    }

    &__form {
        max-width: 950px;
        width: 100%;
        min-height: 515px;
        background: rgba(68, 72, 178, 0.15);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 30px 30px 0px;
        padding-left: 140px;

        form {
            max-width: 535px;
            width: 100%;
            display: block;

            input {
                max-width: 100%;
            }

            button {
                max-width: 100%;
            }
        }

        &--title {
            max-width: 692px;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            color: #000000;
        }
    }

    &__man {
        right: 140px;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }
}

.effects {
    padding: 75px 0 95px;
    background-image: url(../img/9-effects/ef-backgroung.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__main--item {
        width: 500px;
        margin-bottom: 35px;

        &:nth-child(n+2) {
            margin-bottom: 0;
        }

        &-description {

            h5 {
                font-size: 32px;
                line-height: 38px;
            }

            p {
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
}

.complexyti {
    padding: 120px 0;
}

.complexity__main--item {
    margin-bottom: 35px;

    h5 {
        font-size: 26px;
        line-height: 30px;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 0px 0px 30px 30px;
        bottom: 0;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        padding: 7px 0;
    }
}

.problems {
    padding: 70px 0;
    background-image: url(../img/11-problems/prob-backgroung.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.problems__main--item {
    width: 100%;
    max-width: 440px;

    h5 {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        padding-left: 85px;
        margin-bottom: 10px;
    }

    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        // max-width: 415px;
    }

    &-number {
        width: 83px;
        left: 0;
        top: 0;
    }
}

.questions {
    padding: 120px 0 140px;

    &__title {
        padding-left: 140px;
        margin-bottom: 65px;
    }

    &__question {
        // overflow: hidden;
        padding-bottom: 30px;
    }

    &__question-header {
        width: 100%;
        max-width: 950px;
        background-color: rgba(68, 72, 178, 0.15);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 0px 30px 30px 0px;

        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #000000;

        display: flex;
        align-items: center;
        padding: 30px 40px 30px 140px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 23px;
            height: 19px;
            background-image: url(../img/12-questions/rimg.png);
            background-repeat: no-repeat;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
        }
    }

    &__question-content {
        transition: 0.5s;
        height: 0;
        max-width: 740px;
        font-size: 0;
        line-height: 0%;
    }

    &__form {
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: 115px 50px;
        width: 100%;
        max-width: 530px;
        margin-right: 140px;

        h5 {
            font-size: 32px;
            line-height: 38px;
            color: #2F3B58;
        }

        p {
            font-size: 26px;
            line-height: 30px;
            max-width: 370px;
            margin: 0 auto;
        }

        form {
            width: 100%;

            button {
                max-width: 100%;
            }
        }
    }
}

.questions__question-header--active {
    // font-weight: 700;
    // color: #FFFFFF;
    // background-color: #FC4639;
}

.questions__question-content--active {
    font-size: 18px;
    line-height: 21px;
    padding: 15px 40px 0 140px;
    max-width: 950px;
    height: 100%;
    color: #000000;
}

.close {
    right: 20px;
    top: 20px;
}

.burger {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.btn-close {
    width: 40px;
    height: 40px;
    padding: 0;
    background: url(../img/modal/closed.svg);
    border-radius: 0;
    opacity: 1;
    right: 40px;
    top: 40px;
    position: absolute;
}

.modal-dialog {
    max-width: 790px;
    margin: 1.75rem auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.modal-content {
    min-height: 810px;
    border: none;
    border-radius: 30px;
    padding-top: 200px;
}

.title-modal {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #2F3B58;
}

.modal-description {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.from-modal {
    width: 100%;
    max-width: 435px;
}

.btn-modal {
    max-width: 100%;
}

.thanks {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: auto;
    background-color: rgba(145, 145, 145, 0.5);

    &__main {
        position: relative;
        min-height: 790px;
        width: 100%;
        max-width: 810px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        margin: 1.75rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &--btn {
            position: absolute;
            right: 40px;
            top: 40px;
            outline: none;
            border: none;
            background-color: transparent;
        }
    }
}