@media (max-width: 1640px) {
    .treatment__main {
        max-width: 70%;
    }
}

@media (max-width: 1440px) {
    .nav__main--logo img {
        max-width: 45px;
    }

    .nav__main--logo span {
        font-weight: 800;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        margin-left: 10px;
    }

    .nav__main ul>li {
        margin-right: 15px;

        a {
            font-size: 14px;
            line-height: 17px;
        }
    }

    .header__main {
        padding-top: 80px;
        background-size: cover;
    }

    .header__main--title {
        padding-left: 80px;
    }

    .header__main--subtitle {
        padding-left: 80px;
    }

    .header__main--argument {
        padding-left: 80px;
        max-width: 735px;
    }

    .header__main--form {
        padding-left: 80px;
        margin-bottom: 80px;
        max-width: 735px;

    }

    .fast__item {
        max-width: 300px;
    }

    .fast__item--text h4 {
        font-size: 25px;
        line-height: 30px;
    }

    .fast__item--text p {
        font-size: 15px;
        line-height: 18px;
    }

    .discount__main--content p {
        max-width: 580px;
        font-size: 27px;
        line-height: 33px;
    }

    .services__main--content-element img {
        max-width: 80px;
    }

    .services__main {
        max-width: 830px;
    }

    .treatment__main {
        max-width: none;
    }
}

@media (max-width: 1200px) {
    .header__main {
        padding-top: 45px;
    }

    .header__main--title {
        padding-left: 20px;
        font-size: 40px;
        line-height: 40px;
    }

    .header__main--subtitle {
        padding-left: 20px;
        font-size: 45px;
        line-height: 55px;
    }

    .header__main--argument {
        padding-left: 20px;
        max-width: 550px;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 40px;
    }

    .header__main--form {
        padding-left: 20px;
        margin-bottom: 60px;
        max-width: 550px;
        min-height: 270px;
    }

    .header__main--form-title {
        font-size: 25px;
        line-height: 30px;
    }

    .header__main--form-description {
        font-size: 20px;
        line-height: 23px;
    }

    .header__main--line {
        font-size: 25px;
        line-height: 30px;
    }

    .fast {
        padding: 80px 0;
    }

    .title {
        font-size: 35px;
        line-height: 42px;
    }

    .subtitle {
        font-size: 27px;
        line-height: 33px;
    }

    .discount__main--form {
        max-width: 360px;
        padding: 30px 30px;
    }

    .discount__main--content p {
        max-width: 450px;
        font-size: 23px;
        line-height: 29px;
    }

    .services__main--content-element p {
        font-size: 14px;
        line-height: 17px;
    }

    .services__main {
        max-width: 650px;
    }

    .services {
        padding: 80px 0;
    }

    .wrapperBox {
        background-position-y: 130px;
    }

    .treatment {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {

    .header__main--title {
        font-size: 26px;
        line-height: 30px;
    }

    .header__main--subtitle {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .header__main--argument {
        max-width: 410px;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 30px;
    }

    .header__main--form-title {
        font-size: 20px;
        line-height: 23px;
    }

    .header__main--form-description {
        font-size: 16px;
        line-height: 19px;
    }

    .header__main--form {
        padding-right: 20px;
        margin-bottom: 20px;
        max-width: 410px;
    }

    .header__main--line {
        font-size: 16px;
        line-height: 19px;
    }

    .fast__item {
        max-width: 230px;
    }

    .fast__item img {
        max-width: 210px;
    }

    .fast__item--text h4 {
        font-size: 19px;
        line-height: 25px;
    }

    .discount__main--form {
        max-width: 100%;
        padding: 50px 10px 60px;

        form {
            max-width: 435px;
            margin: 0 auto;
        }
    }

    .discount__main--content h3 {
        margin: 0 auto;
    }

    .discount__main--content p {
        max-width: 100%;
    }

    .discount {
        min-height: inherit;
        padding: 30px 0 40px;
    }

    .wrapperBox {
        background-position-y: 105px;
    }

    .services__main {
        max-width: 520px;
    }

    .services {
        padding: 50px 0;
    }

    .services .services__main--content {
        margin-bottom: 30px;
    }

    .services__main--content-element {
        margin-bottom: 40px;
    }

    .services__main--content-element img {
        max-width: 54px;
    }

    .services__main--content-element p {
        font-size: 13px;
        line-height: 17px;
    }

    .modal-dialog {
        max-width: 300px;
        margin: 1.75rem auto;
    }

    .modal-content {
        min-height: 480px;
        padding-top: 90px;
    }

    .title-modal {
        font-size: 26px;
        line-height: 30px;
    }

    .modal-description {
        font-size: 20px;
        line-height: 23px;
    }

    .from-modal {
        padding: 0 10px;
    }

    .input {
        padding: 15px 0 15px 20px;
        font-size: 16px;
        line-height: 19px;
    }

    .btn {
        padding: 15px 0;
        font-size: 18px;
        line-height: 21px;
    }

    .btn-close {
        width: 20px;
        height: 20px;
        right: 20px;
        top: 20px;
        background-size: 20px 20px;
    }

    .thanks__main {
        min-height: 480px;
        max-width: 300px;

        &--close {
            max-width: 97px;
        }
    }

    .thanks__main--btn {
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        padding: 0;
    }
}

@media (max-width: 767px) {

    .header__main--title {
        padding: 0 20px 0;
        text-align: center;
    }

    .header__main--subtitle {
        padding: 0 20px 0;
        text-align: center;
    }

    .header__main--argument {
        max-width: 510px;
        padding-left: 70px;
        margin-bottom: 10px;
    }

    .header__main--form {
        max-width: 510px;
        text-align: center;
        min-height: 333px;
        padding-left: 70px;
        padding-right: 70px;
        background-color: rgba(111, 113, 180, 0.55);
    }

    .header__main--line span {
        max-width: 270px;
        text-align: center;
    }

    .fast__item {
        max-width: 260px;
    }

    .fast__item img {
        max-width: 155px;
    }

    .fast__item--text {
        transform: translateY(-20px);
    }

    .fast__item--text h4 {
        font-size: 20px;
        line-height: 23px;
    }

    .fast__item--text p {
        font-size: 16px;
        line-height: 19px;
    }

    .fast {
        padding: 55px 0;
    }

    .title {
        font-size: 30px;
        line-height: 37px;
    }

    .subtitle {
        font-size: 22px;
        line-height: 28px;
    }

    .wrapperBox {
        background-position-y: 162px;
    }

    .services__main {
        max-width: none;
    }

    .treatment {
        padding-bottom: 55px;
    }

    .treatmentCard {
        max-width: 240px;
        min-height: 390px;
    }

    .treatmentCard__title {
        margin-bottom: 30px;
        font-size: 27px;
        line-height: 33px;
    }

    .treatmentCard__description {
        max-width: 194px;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 35px;
    }

    .treatmentCard__argument {
        padding-left: 55px;
        margin-bottom: 20px;
    }

    .treatmentCard__argument--list {
        font-size: 15px;
        line-height: 15px;
    }

    .treatmentCard__argument img {
        left: 0;
        max-width: 55px;
    }

    .treatmentCard__btn {
        max-width: 220px;
    }

    .treatmentCard:nth-child(3) .treatmentCard__title {
        margin-bottom: -2px;
    }

    .safety {
        padding: 25px 0 50px;
    }
}

@media (max-width: 575px) {
    .header__main {
        background-image: none;
    }

    .header__main--argument {
        max-width: 310px;
        padding-left: 20px;
        margin-bottom: 10px;

        span {
            display: block;
            max-width: 200px;
        }
    }

    .header__main--form {
        max-width: 310px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(68, 72, 178, .25);
    }

    .fast__item {
        max-width: 300px;
    }

    .title {
        font-size: 26px;
        line-height: 30px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 35px;
    }

    .discount {
        background-image: url(../img/4-discount/d-backgroung-mob.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    .discount__main--content p {
        font-size: 20px;
        line-height: 23px;
    }

    .discount__main--form p {
        font-size: 20px;
        line-height: 23px;
    }

    .discount__main--form .free {
        font-size: 16px;
        line-height: 19px;
    }

    .wrapperBox {
        background-image: none;
    }

    .services__main--content-element:nth-child(n+5) {
        margin-bottom: 25px;
    }

    .services__main--content-element {
        margin-bottom: 25px;
        width: 100%;
        max-width: 80px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .red {
        top: 268px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .services__main {
        max-width: 280px;
        margin: 0 auto;
    }

    .services__main--content-element img {
        max-width: 71px;
    }

    .treatmentSwiper {
        overflow: hidden;
    }

    .swiperOne {
        overflow: visible;
        width: 280px;

    }

    .treatmentCard {
        max-width: none;
        min-height: 425px;
    }

    .treatmentCard__argument {
        padding-left: 75px;
        margin-bottom: 40px;
    }

    .treatmentCard__argument--list {
        font-size: 20px;
        line-height: 23px;
    }

    .treatmentCard__argument img {
        left: 19px;
    }

    .treatmentCard__title {
        margin-bottom: 33px;
        font-size: 20px;
        line-height: 23px;
    }

    .treatmentCard__description {
        max-width: 225px;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 35px;
    }

    .swiperOne .swiper-paginationONE {
        bottom: 0;
    }

    .swiperOne .swiper-pagination-bullet {
        background-color: #3BDA44 !important;
        width: 15px;
        height: 15px;
        border-radius: 0;
    }

    .safety__main--element img {
        max-width: 155px;
    }

    .safety__main--element-text {
        font-size: 25px;
        line-height: 25px;
        transform: translateY(-20px);
        width: 180px;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .header__main--argument {
        margin-bottom: 0px;
        box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
    }

    .header__main--manMob {
        display: block !important;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .discount {
        background-size: contain;
    }
}